<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="/Content/960.css" rel="stylesheet"/>
    @RenderSection("style", false)
</head>
<body>
@RenderBody()
</body>
</html>
