@{
    ViewBag.Title = "测试";
}

@section style
{  
    <style type="text/css">
        body {
            font-family:'微软雅黑';
        }

        .item {
            width:750px;
            height: 2600px;
            background: #ffd800;
            margin:auto;
        }

        .item_title {
            height: 55px;
            background: #ffd800;
            color:#ffffff;
        }

        .item_info {
            height: 415px;
            background: #ffffff;
        }

        .item_tab {
        }
    </style>
}

<div class="container_24">
    <div class="item"><!-- grid_19 -->
        <div class="item_title">
            <div class="grid_10" style="padding-left: 30px;padding-top:8px;">
                <span style="font-size: 26px;">唐品食品专营店</span>
            </div>
            <div class="grid_8" style="padding-top:8px;">
                <span style="font-family: YouYuan;">一口一口吃进幸福</span><br />
                <span style="font-family: Consolas;">Sweeten your life</span>
            </div>
        </div>
        <div class="clear"></div>
        <div class="item_info">
            <div class="grid_19">
                <div class="grid_13">
                    <ul style="margin-top:40px;">
                        <li>品名：</li>
                        <li>品牌：</li>
                        <li>产地：</li>
                        <li>包装：</li>
                        <li>保质期：</li>
                        <li>净重：</li>
                        <li>整箱规格：</li>
                    </ul>
                </div>
                <div class="grid_5" style="padding-top:20px;">
                    <img src="/Content/images/20140105204554.jpg" />
                </div>
            </div>
            <div class="grid_19" style="padding-left:30px;">
                <p style="width:700px;">
                    PostgreSQL中的事务ID是一个递增的无符号的32位整数，最多发生2^32次个事务后，事务ID就会发生回卷。
                </p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="container_24 item_tab">
            <div style="width:100px;height:28px;padding-left:20px;color:#fff;float:left;">
                宝贝详情
            </div>
            <div style="width:630px;background:#fff;height:28px;float:left;">
            </div>
        </div>
        <div class="clear"></div>
        <div class="container_24" style="background:#ffffff;margin-top:3px;">
            <div class="container_24">
                <img src="/Content/images/20140105215845.jpg" />
            </div>
            <div>
                <img src="/Content/images/20140105220108.jpg" />
            </div>
            <div>
                <img src="/Content/images/20140105220314.jpg" />
            </div>
            <div>
                <img src="/Content/images/20140105220834.jpg" />
            </div>
        </div>
    </div>
</div>